* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: url("img/baggrund_gul.svg") no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 129vh;
  text-align: center;
}

.header {
  background-color: #f48c24;
  padding: 40px;
  width: 100%;
  max-width: 1400px;
  border-radius: 10px;
  margin-bottom: 40px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  margin-top: 100px;
}

.header h1 {
  font-family: "Baloo 2", cursive;
  font-size: 3.5rem;
  margin-bottom: 15px;
  color: #e1ca5d;
}

.header p {
  font-size: 1.3rem;
  color: #ecefe3;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
}

.tv-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 600px;
  margin-bottom: 40px;
}

.video-container {
  position: absolute;
  top: 57%; /* Adjust as necessary to match the frame */
  left: 43%;
  width: 95%;
  height: 100%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-image {
  width: 90%;
  height: auto;
}

.tv {
  width: 100%;
  height: auto;
  z-index: 2;
  position: relative;
}

@media (max-width: 768px) {
  .header {
    padding: 40px;
    max-width: 700px;
    margin-top: -10px;
  }

  .header h1 {
    font-size: 2rem;
  }

  .tv-wrapper {
    max-width: 400px;
  }
}
